## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
__latexindent_temp.tex
*.pyg

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

## Minted build files
_minted*

## General files and folders
.vscode/
.DS_Store
.venv/
venv_fswd/

## Specific files and folders
semester1/basisprogrammeren/
semester2/project1/
semester2/ui-design/labo/
semester3/interaction-design/labo/
semester4/big-data/labo/
semester4/advanced-programming-maths/labo/
semester4/linux-os/labo/
semester4/backend-development/labo/

## PDF compilation is now handled with a Github Action
#samenvatting.pdf
